# Zipped & unzipped folder
*.zip
/filebeat-*
# Python install (necessary to run scripts)
python-3.10.5-amd64.exe
__pycache__
/Logs/test/*
/filebeatScripts/generated/*.js
/filebeatScripts/generated/headersConfigs/*.json
/configs/generated/*.yml
/configs/mappings/*.json
.env