# Unzipped folder
/filebeat-8.8.2-windows-x86_64/
# Python install (necessary to run scripts)
python-3.10.5-amd64.exe
__pycache__
/Logs/Templates/*
/Logs/input/*
/filebeatScripts/generated/*.js
/filebeatScripts/generated/headersConfigs/*.json
/configs/generated/*.json
.env